@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..700&family=Poppins:wght@300;400;600&display=swap');
:root {
    --uade-dark: #021864; 
    --uade-green: #35B446; 
    --uade-text-light: #F8F9FA; 
    
    --uade-btn-blue: #021864; 
    --uade-btn-hover: #021864; 

    --font-family-base: 'Poppins', sans-serif;
    --font-family-heading: 'Cinzel', serif;
}


body {
    background-color: var(--uade-text-light);
    color: var(--uade-dark); 
    font-family: var(--font-family-base);
    font-weight: 400;
}
h1 {
    font-family: var(--font-family-heading);
    font-weight: 600;  
}

h2, h3, h4, h5, h6 {
    font-weight: 400;
}

.bg-uade-dark {
    background-color: var(--uade-dark) !important;
}

.text-uade-green {
    color: #00bf63  !important;
}


.btn-uade-primary {
    background-color: var(--uade-btn-blue);
    color: var(--uade-text-light);
    border: 1px solid var(--uade-btn-blue);
    font-weight: bold;
    padding: 0.75rem 1.5rem;
    border-radius: 2rem; 
}

.btn-uade-primary:hover, .btn-uade-primary:focus {
    background-color: var(--uade-btn-hover);
    color: var(--uade-text-light);
    border-color: var(--uade-btn-hover);
}


.search-input-container {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: #f1f1f1; 
    border: 1px solid #dee2e6;
}


.product-card {
    transition: transform 0.2s, box-shadow 0.2s;
    overflow: hidden; 
}

.product-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.favorite-btn {
    border-radius: 50%;
    padding: 0.25rem 0.5rem;
    line-height: 1;
    background-color: white; 
    border: 1px solid #ccc;
    z-index: 10;
}


.card-text.text-success {
    color: var(--uade-green) !important;
}


.product-card img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.text-uade-green-rating {
    color: #00bf63 !important; 
}